*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    display: flex;
    flex-flow: column nowrap;
}
header{
    width: 100%;
    height: 5em;
    border: 1px solid black;
    background-color: rgba(9,48,98,255);
    color: white;
    padding: 1.5em;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}


textarea:nth-child(1){
    margin-right:  10%;
}

footer{
    display: flex;
    justify-content: center;
}

button{
    padding: 1.2em;
    width: 20%;
    
}

button:nth-child(1){
    margin-right: 10%;
    border: 1px solid rgba(9,48,98,255);
    border-radius: 5px;
    background-color: white ;
    color: rgba(9,48,98,255);
    transition: 1s all;
}

button:nth-child(2){

    border-radius: 5px;
    background-color: rgba(9,48,98,255);
    color: white;
    transition: 1s all;
}

button:nth-child(1):hover{
    transform: scale(1.2);
    background-color: rgba(9,48,98,255);
    color: white;
}

button:nth-child(2):hover{
    transform: scale(1.2);
    border: 1px solid rgba(9,48,98,255);
    background-color: white;
    color: rgba(9,48,98,255);
}
